.collapsible {
  border-top: 1px solid $collapsible-border-color;
  border-right: 1px solid $collapsible-border-color;
  border-left: 1px solid $collapsible-border-color;
  margin: $element-top-margin 0 $element-bottom-margin 0;
  @extend .z-depth-1;
}

.collapsible-header {
  min-height: $collapsible-height;
  line-height: $collapsible-height;
  background-color: $collapsible-header-color;
  border-bottom: 1px solid $collapsible-border-color;
  i {
    line-height: $collapsible-height;
  }
}

.collapsible-body {
  border-bottom: 1px solid $collapsible-border-color;
  @include box-sizing(border-box);
}

// sideNav collapsible styling
.side-nav {
  .collapsible-body {
    background-color: $collapsible-header-color;
  }
}
