.dropdown-content {
  @extend .z-depth-1;
  background-color: $dropdown-bg-color;
  li {
    color: $off-black;
    &:hover, &.active {
      background-color: $dropdown-hover-bg-color;
    }
    & > a, & > span {
      color: $dropdown-color;
    }
  }
}
