.side-nav {
  background-color: $sidenav-bg-color;
  @extend .z-depth-1;
  li {
    padding: 0 $sidenav-padding-right;
  }
  a {
    padding: 0 $sidenav-padding-right;
  }
}

// Hidden side-nav for all sizes
.side-nav.fixed {
  a {
    padding: 0 $sidenav-padding-right;
  }
}


// Fixed sideNav hide on smaller
@media #{$medium-and-down} {
  .side-nav.fixed {
    left: -105%;

    &.right-aligned {
      right: -105%;
      left: auto;
    }
  }
}


.side-nav .collapsible-body li.active,
.side-nav.fixed .collapsible-body li.active {
  background-color: $primary-color;
  a {
    color: $sidenav-bg-color;
  }
}
